@{
    ViewData["Title"] = "Контакти";
}
<h1>Контакти</h1>
<p>Екипът на OldSchoolRides:</p>
<ul>
    <li>Email: support@oldschoolrides.local</li>
    <li>Телефон: +359 700 12 345</li>
    <li>Адрес: София, България</li>
</ul>
