@{
    ViewData["Title"] = "OldSchoolRides";
}

<div class="text-center">
    <h1 class="display-4">OldSchoolRides</h1>
    <p>Каталог за ретро автомобили и реставрационни истории.</p>
</div>

<div class="row g-3 mt-2">
    <div class="col-md-4"><a class="btn btn-lg btn-outline-primary w-100" asp-controller="Cars" asp-action="Index">Листване на автомобили</a></div>
    <div class="col-md-4"><a class="btn btn-lg btn-outline-success w-100" asp-controller="Cars" asp-action="Create">Добави автомобил</a></div>
    <div class="col-md-4"><a class="btn btn-lg btn-outline-warning w-100" asp-controller="Events" asp-action="Index">Предстоящи събития</a></div>
</div>
